// Color variables (appears count calculates by raw css)
@color0: #87bbfe; // Appears 6 times
@color1: #f6a4ec; // Appears 6 times
@color2: #aff1b6; // Appears 6 times
@color3: #555ac0; // Appears 4 times
@color4: #24b47e; // Appears 4 times
@color5: #9251ac; // Appears 3 times

// Width variables (appears count calculates by raw css)
@width2: 100%; // Appears 4 times
@width4: 2px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 2 times
@height2: 2px; // Appears 2 times

* {
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
body {
	background: #f6f9fc;
	color: #525f7f;
	font-family: "Open Sans", sans-serif;
}
h2 {
	font-size: 2rem;
	font-weight: 100;
	margin: 5%;
	text-align: center;
}
.timeline {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	position: relative;
}
.timeline__event {
	align-self: center;
	border-radius: 6px;
	display: flex;
	margin-bottom: 20px;
	margin: 20px 0;
	position: relative;
	width: 50vw;
	&:nth-child(2n+1) {
		align-self: center;
		flex-direction: column;
		flex-direction: row-reverse;
		.timeline__event__date {
			border-radius: 0;
			border-radius: 0 6px 6px 0;
			padding: 20px;
		}
		.timeline__event__content {
			border-radius: 6px 0 0 6px;
		}
		.timeline__event__icon {
			border-radius: 6px 6px 0 0;
			margin: 0;
			&:before {
				animation: fillTop 2s forwards 4s ease-in-out;
				background: @color1;
				content: "";
				height: @height0;
				left: 50%;
				position: absolute;
				right: auto;
				top: 0%;
				transform: translateX(-50%);
				width: @width4;
				z-index: -1;
			}
			&:after {
				animation: fillLeft 2s forwards 4s ease-in-out;
				background: @color1;
				content: "";
				height: @height2;
				left: auto;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: @width2;
				z-index: -1;
			}
		}
	}
	&:last-child {
		.timeline__event__icon {
			&:before {
				content: none;
			}
		}
	}
}
.timeline__event__title {
	color: @color5;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 1.4;
	text-transform: uppercase;
}
.timeline__event__content {
	background: #ffffff;
	border-radius: 0 6px 6px 0;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	padding: 20px;
	width: @width2;
	width: calc(40vw - 84px);
}
.timeline__event__date {
	align-items: center;
	background: @color5;
	border-radius: 0;
	border-radius: 6px 0 0 6px;
	color: @color1;
	display: flex;
	font-size: 1.5rem;
	font-weight: 600;
	justify-content: center;
	padding: 0 20px;
	padding: 20px;
	white-space: nowrap;
}
.timeline__event__icon {
	align-items: center;
	align-self: center;
	background: @color1;
	border-radius: 100%;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	box-shadow: none;
	color: @color5;
	display: flex;
	height: 40px;
	justify-content: center;
	margin: 0;
	margin: 0 20px;
	padding: 20px;
	padding: 40px;
	position: relative;
	width: 40px;
	width: @width2;
	i {
		font-size: 32px;
	}
	&:before {
		animation: fillTop 2s forwards 4s ease-in-out;
		background: @color1;
		content: "";
		display: none;
		height: @height0;
		left: 50%;
		position: absolute;
		top: 0%;
		transform: translateX(-50%);
		width: @width4;
		z-index: -1;
	}
	&:after {
		animation: fillLeftOdd 2s forwards 4s ease-in-out;
		background: @color1;
		content: "";
		display: none;
		height: @height2;
		left: 0%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: @width2;
		z-index: -1;
	}
}
.timeline__event__description {
	flex-basis: 60%;
}
.timeline__event--type2 {
	&:after {
		background: @color3;
	}
	.timeline__event__date {
		background: @color3;
		color: @color0;
	}
	&:nth-child(2n+1) {
		.timeline__event__icon {
			&:before {
				background: @color0;
			}
			&:after {
				background: @color0;
			}
		}
	}
	.timeline__event__icon {
		background: @color0;
		color: @color3;
		&:before {
			background: @color0;
		}
		&:after {
			background: @color0;
		}
	}
	.timeline__event__title {
		color: @color3;
	}
}
.timeline__event--type3 {
	&:after {
		background: @color4;
	}
	.timeline__event__date {
		background-color: @color4;
		color: @color2;
	}
	&:nth-child(2n+1) {
		.timeline__event__icon {
			&:before {
				background: @color2;
			}
			&:after {
				background: @color2;
			}
		}
	}
	.timeline__event__icon {
		background: @color2;
		color: @color4;
		&:before {
			background: @color2;
		}
		&:after {
			background: @color2;
		}
	}
	.timeline__event__title {
		color: @color4;
	}
}
@media (max-width :786px) {
			.timeline__event {
			 flex-direction: column;
			align-self: center;
		}
	}


@keyframes fillLeft {
	100% {
	  right: 100%;
	}
  }
  
  @keyframes fillTop {
	100% {
	  top: 100%;
	}
  }
  
  @keyframes fillLeftOdd {
	100% {
	  left: 100%;
	}
  }
  