// Color variables (appears count calculates by raw css)
@color0: #f29100; // Appears 2 times
@color1: #4f537b; // Appears 2 times
@color2: #1d8cf8; // Appears 2 times
@color3: #11cdef; // Appears 2 times
@color4: #00bf9a; // Appears 2 times
@color5: #ff8d72; // Appears 2 times
@color6: #fd5d93; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width2: 100%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 2 times

 
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

.timeline {
	color: white;
	margin: 0 0 0 30px;
	padding-left: 4rem;
	position: relative;
	&:before {
		background: #fe9c13;
		content: '';
		height: @height0;
		left: 0;
		position: absolute;
		top: 0;
		width: 4px;
	}
	.timeline-container {
		margin-bottom: 2.5rem;
		position: relative;
		.timeline-icon {
			background: @color1;
			border-radius: 50%;
			font-size: 2rem;
			height: 50px;
			left: -88px;
			position: absolute;
			text-align: center;
			top: 4px;
			width: 50px;
			i {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			img {
				border-radius: 50%;
				height: @height0;
				width: @width2;
			}
		}
		.timeline-body {
			background: black;
			background-color: black;
			border: solid 4px #fe9c13;
			z-index: -1;
			border-radius: 30px;
			box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
			padding: 20px 20px 15px;
			&:before {
				background: #fe9c13;
				border-radius: 0 0 0 2px;
				content: '';
				display: block;
				height: 20px;
				left: -5px;
				position: absolute;
				transform: rotate(45deg);
				width: 20px;
			}
			.timeline-title {
				margin-bottom: 1.4rem;
				.badge {
					background: @color1;
					border-radius: 3px;
					font-size: 12px;
					font-weight: bold;
					padding: 4px 8px;
				}
			}
			.timeline-subtitle {
				font-size: 11px;
				font-style: italic;
				font-weight: 300;
				margin-top: 16px;
				opacity: 0.4;
			}
		}
	}
	.timeline-container.primary {
		.badge {
			background: @color0 !important;
		}
		.timeline-icon {
			background: @color0 !important;
		}
	}
	.timeline-container.info {
		.badge {
			background: @color3 !important;
		}
		.timeline-icon {
			background: @color3 !important;
		}
	}
	.timeline-container.success {
		.badge {
			background: @color4 !important;
		}
		.timeline-icon {
			background: @color4 !important;
		}
	}
	.timeline-container.warning {
		.badge {
			background: @color5 !important;
		}
		.timeline-icon {
			background: @color5 !important;
		}
	}
	.timeline-container.danger {
		.badge {
			background: @color6 !important;
		}
		.timeline-icon {
			background: @color6 !important;
		}
	}
}
.author {
	color: white;
	font-family: inherit;
	padding: 3em;
	text-align: center;
	width: @width2;
	a {
		&:link {
			color: white;
			hover {
				text-decoration: none;
			}
		}
		&:visited {
			color: white;
			hover {
				text-decoration: none;
			}
		}
	}
	.btn {
		&:link {
			background-color: black;
			border-radius: 1em;
			color: white;
			display: inline-block;
			font-family: inherit;
			font-weight: 100;
			margin-top: 1em;
			padding: 1.5em 2rem;
			text-align: center;
			text-decoration: none;
			transition: 0.5s all;
			user-select: none;
			vertical-align: middle;
		}
		&:visited {
			background-color: black;
			border-radius: 1em;
			color: white;
			display: inline-block;
			font-family: inherit;
			font-weight: 100;
			margin-top: 1em;
			padding: 1.5em 2rem;
			text-align: center;
			text-decoration: none;
			transition: 0.5s all;
			user-select: none;
			vertical-align: middle;
		}
	}
}
.author .btn:link:hover, .author .btn:visited:hover, .author .btn:link:focus, .author .btn:visited:focus, .author .btn:link:active, .author .btn:visited:active  {
	background-color: #1a1a1a;
}
.gradient-box {
	align-items: center;
	background-clip: padding-box;
	background: #000000;
	border-radius: 1em;
	border: solid 5px transparent;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	margin: auto;
	position: relative;
	width: 90%;
	&:before {
		background: linear-gradient(to right, rgba(116, 15, 214, 0.65), white);
		border-radius: inherit;
		bottom: 0;
		content: '';
		left: 0;
		margin: -5px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
}